<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- login CSS-->
  <link rel="stylesheet" href="/css/login.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
  <div class="container">
    <table class="login-table" align="center">
      <tr>
          <td align="right" style="width: 33%">
              <label for="id" class="login-font">
                <img src="gif/txt_id.gif" alt="로그인">
              </label>
          </td>
          <td align="center" style="width: 33%">
              <input type="text" class="login-text">
          </td>
          <td style="width: 33%">
            <input type="checkbox" class="rememberId-chk">
            <span class="rememberId-span">ID기억하기</span>
          </td>
      </tr>
      <tr>
          <td align="right">
              <label for="id" class="login-font">
                <img src="gif/txt_pw.gif" alt="비밀번호">
              </label>
          </td>
          <td align="center">
              <input type="text" class="login-text">
          </td>
          <td></td>
      </tr>
      <tr>
        <td></td>
        <td align="center">
          <button class="login-btn">로그인</button>
        </td>
        <td></td>
      </tr>
      <tr>
          <td align="center" colspan="3">
              <button class="join-btn">회원가입</button>
              <button class="srchId-btn">아이디찾기</button>
              <button class="srchPw-btn">비밀번호찾기</button>
          </td>
      </tr>
      <tr>
          <td align="center" colspan="3">
            <div class="disabled-access">
              <a href="">
                <img src="gif/txt_loginerror.gif" alt="로그인이 안될때">
              </a>
            </div>
          </td>
      </tr>
    </table>
  </div>
</body>
  <script>

  </script>
</html>
